{% extends "layout/base.html" %}
{% block title %} About {% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading post-thumb"  id='panelAbout'>
              <div class="row text-center">
                <font size = "6">
                  <h1 id="textAbout">What You Need To Know</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <font size = "4">
          <p id="description"><br><br><br>Hi, my name is Dwipuspa Ramadhanti Santoso, currently majoring in Information System in no other than University of Indonesia. I'm 18 going-on 19, and I was born in
            22nd of December 1999, which means I was born around the last bit of the 20th century! Most people are surprised at first when they found out I'm left-handed, so I'm going
            to save you some energy by telling you now! My hobby includes basic stuff like listening to music and taking a nap if it's possible (but based on the fact that my faculty is Computer
            Science, it's hard to find the time, sadly. Anyway, hope you enjoy my not-so-extraordinary trivial facts about me. Have fun browsing my simple website!</p>
        </div>

        <div class="col-sm-6">
          <img id="sasari" src="https://data.whicdn.com/images/319570132/original.jpg" class="img-circle" alt="" width="500" height="400">
        </div>
      </div>

    </div>
  {% endblock %}
