{% extends "layout/base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
    <div class="container-fluid">

   <img src="https://data.whicdn.com/images/319586688/large.jpg" id="picBlog">
   <br><br>
   <font size="6">
   <p id="titleBlog">FUN SUNDAY</p>
   <br>
   <font size="4">
   <p id="paragraphBlog">On Sunday the 9th of September 2018, I had an amazing experience walking around my campus, University of Indonesia, campaigning my faculty's biggest event and also
       the biggest IT event held by student in Indonesia, Compfest. We gathered in front of Klinik Makara at 6:30am and start walking at 7:00 am. Because it was Sunday, there
       were lots of people (non-students, people who live nearby) spending their Sunday morning at my campus, so it was the perfect occassion to promote our event. We walked all
       the way from Klnik Makara, through, Pusgiwa, Faculy of Math and Science, Faculty of Nursing, etc, until we arrived at our final destination, which is Rotunda (the field in front
       of the rector's office). It was a lot of fun, especially because we got to interact with the people there by giving balloons or playing mini games with them. I got to take
       polaroids with my friends and my division too (Online Marketing) which you can see above! It was a really fun and unforgettable way of spending my Sunday morning, and I can't
       wait for next year's campaign!</p>
  </div>
{% endblock %}
