{% extends "layout/base.html" %}
{% block title %} Guest Form {% endblock %}
{% block content %}
    <div class="container-fluid">


      <h1 id="guestform">GUEST FORM</h1>

      <br><br><br>

      <div style="padding-left: 30%; padding-right: 30%">
        <form>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="name" type="text" class="form-control" name="name" placeholder="Your Name">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input id="birthdate" type="date" class="form-control" name="birthdate" placeholder="Birth Date">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="email" type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
          <input id="subject" type="text" class="form-control" name="subject" placeholder="Subject">
        </div>

        <br><br>

        <div class="form-group">
          <label for="comment">Message:</label>
          <textarea class="form-control" rows="5" id="message"></textarea>
        </div>
      </form>

      <button type="button" class="btn btn-success">Submit</button>

      <div align="center">
        <h4>MY SOCIAL MEDIA:</h4>
        <p>Twitter      : @dwipuspars</p>
        <p>Instagram    : @dwipuspars</p>
        <p>Line         : @pusparmdhnt</p>
      </div>
    </div>
{% endblock %}
