{% extends "layout/base.html" %}
{% block title %} My Online Personal Space {% endblock %}
{% block content %}
    <div class="container-fluid">

     <img src = "https://i.pinimg.com/564x/57/82/b6/5782b643765e2ef8554f1fea4a1e44e6.jpg" id="picHome">
     <h1 id="h1home">My Online Personal Space</h1>
     <p style="color:Tomato" id="pembuka">Feel Free to Explore!</p>

     <div class="bawah">
        <font size = "2">
            <i>"Digital design is like painting, except the paint never dries"</i>
            <font size = "4">
            <p>©Dwipuspa R S 2018</p>
          </div>

   </div>
   {% endblock %}
