{% extends "layout/base.html" %}
{% block title %} My Records {% endblock %}
{% block content %}
        <div class="col-sm-6" id="education">
            <h2>Education</h2>
            <p>a. Putra Elementary School 2005-2011</p>
            <p>b. 51 Junior High School Jakarta 2011-2014</p>
            <p>c. 44 Senior High School Jakarta 2014-2017</p>
            <p>d. Information System, University of Indonesia 2017-Present</p>
        </div>

        <div class="col-sm-6" id="work-experience">
          <h2>Work Experience</h2>
          <p>a. Staff of Public Relation of The 25th Computers Get Together</p>
          <p>b. Staff of Human Resource Development of COMPFEST X</p>
          <p>c. Person In Charge of PASCAL 2018</p>
          <p>d. Staff of Human Resource Development of DPM Fasilkom UI 2018</p>
        </div>

        <div class="col-sm-6" id="skills">
          <h2>Skills</h2>
          <p>a. Java Programming</p>
          <p>b. Python Programming</p>
          <p>c. English Skills (Reading, Speaking, etc)</p>
          <p>d. Writing Skills (Indonesian and English)</p>
          <p>e. Basic Computer Software Skills (Word, Excel, Powerpoint,etc)</p>
        </div>

{%endblock%}
