{% extends "layout/base.html" %}
{% block title %} My Schedule {% endblock %}
{% block content %}

<div class="container-fluid">
	<h1 id="showschedule">Overview of My Daily Life</h1>

	<br><br><br>
	<font size="3">
		<table class="table table-hover">
	        <thead>
	            <th>Day</th>
	            <th>Date</th>
	            <th>Time</th>
	            <th>Activity</th>
	            <th>Place</th>
	            <th>Category</th>
	        </thead>
	        <tbody>
	            {% for i in schedule %}
	                <td> {{i.day}} </td>
	                <td> {{i.date}} </td>
	                <td> {{i.time}} </td>
	                <td> {{i.activity_name}} </td>
	                <td> {{i.place}} </td>
	                <td> {{i.category}} </td>
	            </tr>             
	            {% endfor %}
	        </tbody>
	    </table>
	    <form id="form" method="POST" action="deleteschedule">
    		{% csrf_token %}
    		<button type="submit" class="btn btn-danger">Delete All</button>
  		</form>

	    
	</font>


</div>

{%endblock%}