{% extends "layout/base.html" %}
{% block title %} My Schedule {% endblock %}
{% block content %}
<div class="container-flud">
  <h1 id="setschedule">To Keep In Track, Use A Schedule!</h1>

  <br><br><br>


  <form id="form" method="POST" action="saveschedule" style="padding-left: 30%; padding-right: 30%">
    {% csrf_token %}
    {{ showform }}
    <br><br>
  	<button type="submit" class="btn btn-success">Submit</button>
  </form>

  

</div>
{% endblock %}
