body{
  background-image: url(pastel.jpg);
}
#h1home{
  text-align: center;
  font-style: italic;
  font-style: bold;
}

#picHome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 0%
}

#pembuka{
  font-style: italic;
  text-align: center;
}

.bawah{
  position: sticky;
  text-align: center;
  font-weight: bold;
}

#sasari{
  top: 0;
}

#panelAbout{
  background-color: #F5F5DC;
  top: 0;
  padding:10px;
  padding-left:50px;
  /*padding-right: 96%;*/
  border:0;
}

#textAbout{
  text-align: center;
  font-weight: bold;

}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 61px;
  }
}

#education{
  top: 0px;
  font-family: 'Trebuchet MS';
}

#work-experience{
  top: 20px;
  font-family: 'Trebuchet MS';
}

#skills{
  top: 45px;
  font-family: 'Trebuchet MS';
}

#picBlog{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 15%;
}

#titleBlog{
  text-align: center;
  font-weight: bold;
}
#paragraphBlog{
  text-align: justify;
  font-family: 'Trebuchet MS';
  line-height: 1.5;
  padding-left: 150px;
  padding-right: 150px;
}

#reachMe{
  font-weight: bold;
}

.bawahVisdes{
  position: static;
  text-align: center;
  font-weight: bold;
  bottom:0;
  left:35%;
}

#GAMBARVISDES{
  height: 400px;
  object-fit: cover;
}

#panelContact{
  background-color: #BC8F8F;
  top: 0;
  padding:10px;
  padding-left:20px;
  border:0;
  width: 650px;
  height: 95px;
}

#sosmed{
  top: 200px;
  text-align: center;
  font-weight: bold;
}

#description{
  position: relative;
  text-align: justify;
  padding-left: 15%;
  font-family: 'Trebuchet MS';
}

#guestform{
  font-weight: bold;
  text-align: center;
}

.form{
  padding-left: 10%
  padding-right: 10%;
}
