<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="visible-xs navbar-brand">My Online Personal Space</span>
  </div>

<div class="collapse navbar-collapse  navbar-ex1-collapse">
  <ul class="nav navbar-nav">
   <li><a href="/">Home</a></li>
   <li><a href="about">About</a></li>
   <li><a href="myrecords">My Records</a></li>
   <li><a href="lifeinphotos">Life In Photos</a></li>
   <li><a href="blog">Blog</a></li>
   <li><a href="visualdesign">Visual Design</a></li>
   <li><a href="guestform">Guest Form</a></li>
   <li><a href="setschedule">Set Schedule</a></li>
   <li><a href="myschedule">My Schedule</a></li>
 </ul>
</div>
</nav>
